[uwsgi]

chdir         = {{ app_path }}
uid           = {{ app_uid }}
gid           = {{ app_gid }}
env           = DJANGO_SETTINGS_MODULE=pastely.settings.{{ deploy_environment }}
processes     = 2
threads       = 2
harakiri      = 10
module        = pastely.wsgi:application
master        = True
pidfile       = /tmp/pastely-master.pid
vacuum        = True
home          = {{ venv_path }}
vacuum        = True
http-socket   = :8000
